@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/variables";


input, textarea, select, button {
	margin-bottom: 20px;
}

.navbar-right {
	li {
		&:hover {
			box-shadow: 0 2px 0 #b2b2b2
		}
	}
}
.picture-show {
	.panel {
		padding: 0;
		border-radius: 5px;
		box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.45);
		.image {
			max-width: 100%;
			width: 100%;
		}
		.panel-heading {

		}
		.panel-body {

		}
	}
}

.inline-button {
	display: inline;
}

// DASHBOARD
.picture-box {
	display: table;
	float: left;
	.panel {
		padding: 0;
		border-radius: 5px;
		box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.45);
		img {
			padding-top: 2px;
			max-width: 100%;
		}
		.panel-heading {

		}
		.panel-body {

		}
	}
	img {
		//max-width: 100%;
	}
}

@media(max-width: $screen-xs-max) {
	.picture-box {
		float: none;
		margin: 5px auto;
	}
}

// PROFILE
.username-display {
	font: {
		size: 20px;
	}
}